.cart-card {
  display: flex;
}

.cart-card button {
  margin: 10px;
}

.delete-button {
  background-color: #707070;
  border: none;
  width: 30%;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}
